body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    color: white;
    text-align: center;
}

/* Hamburger button */
.hamburger-btn {
    /* font-size: 24px; */
    background: rgb(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
    border-radius: 8px;
}

/* Side menu */
.side-menu {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden off-screen */
    width: 250px;
    height: 100%;
    background-color: white;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s; /* Smooth sliding effect */
    padding-top: 60px;
    z-index: 100;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    padding: 0 10px;
    text-align: left;
}

.side-menu ul li a {
    color: #b77e1c;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.side-menu ul li a:hover {
    background-color: #e4b35d;
    transition: 0.3s;
    border-radius: 8px;
}

/* Close button */
.close-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: #b77e1c;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Active menu class */
.side-menu.active {
    left: 0; /* Slide into view */
}

h1 {
    font-style: italic;
}

h1, h2, h3, h4, li a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.cover {
    height: 100vh;
    width: 100vw;
}

.row {
    width: 100vw;
    margin: 0;
    padding: 0;
}

  
/* .row {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
} */

.cover {
    background: rgba(0, 0, 0, 0.5); /* Dark overlay, adjust the opacity as needed */
}


.cover img {
    position: absolute;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    object-fit: cover; /* Ensures proportions are maintained while filling the viewport */
    object-position: bottom; /* Ensures the top of the image is prioritized */
    padding: 0;
    margin: 0;
    z-index: -1;
}

.cover .title {
    margin-top: auto;
    color: white;
}

div.center {
    width: 40%;
    margin: auto;
}

.date, .schedule {
    color: black;
}

.date {
    padding: 10px;
    background-color:rgb(221, 239, 255);
    margin: auto;
    border-radius: 5px;
    width: 80vw;
    margin-top: 20px;
}

.date div {
    margin: auto;
}

.date div img {
    height: 60vh;
    width: auto;
}

div.day {
    border-top: 1px black solid ;
}


/* Schedule */

.schedule {
    padding: 20px;
}

.schedule .event .row {
    border: #b77e1c 1px solid;
    height: 100%;
}

.schedule .event .row {
    width: auto;
    padding: 10px;
    text-align: left;
}

.schedule .event div div img {
    object-fit: cover;
    height: 100%;
}

.schedule .event div div a, .schedule .event div div a:hover {
    color: #b77e1c;
}

/* FAQ */

.accordion, .accordion-button, .accordion-body {
    background-color: rgb(221, 239, 255);
    text-align: left;
}

/* story */

.story {
    padding: 20px;
    color: black;
    background-color: rgb(221, 239, 255);
    height: fit-content;
}

.story div img {

    object-fit: cover;
    height: 100%;
    object-position: bottom; /* Ensures the top of the image is prioritized */

}

/* .story .image {
    background: url("../images/story.jpg") 50% 50%;
    background-size: cover;
    height: 100%;
  } */

.story .image {
    margin: auto;
}

.story .image div {
    height: 100%;
    margin: auto;
}

.story .image div img {
    background-size: cover;
    width: 100%;
    height: auto;
    max-height: 400px;
    object-position: top; /* Ensures the top of the image is prioritized */
}

/* tidbits */
.tidbits {
    margin: 20px;
    color: black;
}

.tidbits .image {
    margin: auto;
}