body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    color: white;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

  
.row {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.cover {
    background: rgba(0, 0, 0, 0.5); /* Dark overlay, adjust the opacity as needed */
}


.cover img {
    position: absolute;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    object-fit: cover; /* Ensures proportions are maintained while filling the viewport */
    object-position: bottom; /* Ensures the top of the image is prioritized */
    padding: 0;
    margin: 0;
    z-index: -1;
}

.cover .title {
    margin-top: auto;
    color: white;
}

div.center {
    width: 40%;
    margin: auto;
}

.date, .schedule {
    color: black;
}

.date div {
    margin: auto;
}

.date div img, .schedule div img {
    height: 70vh;
}

div.day {
    border-top: 1px black solid ;
}

.border {
    position: absolute;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: 
        white, /* The inner content background */
        url('your-floral-image.png') repeat; /* The repeating floral image */
    /* background-origin: border-box; Ensures the floral image is only on the padding/border */
    /* background-clip: border-box, padding-box; */
    /* background-size: auto; Keeps the floral image in its original size */
    /* box-sizing: border-box; Ensures the padding doesn't affect the width/height */
}